.profileParameterContainer {
    padding: 70px 30px;
    display: flex;
    flex-direction: column;
    flex: 6;
    align-items: center;
    overflow-y: scroll;
    font-family: 'Rozha One', serif;
    font-size: 2rem;
}
.paramcont {
    background-color: azure;
}