.usermodifyinput {
    margin-left: 20px;
    border-radius: 15px;
    outline: none;
}
.usermodifysubB{
    border-radius: 15px;
    margin-left: 20px;
    background-color: rgb(170, 116, 116);
    color: rgba(229, 229, 229, 1);
}
.usermodify {
    padding: 10px 10px;
    margin-top: 2rem;
}